<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.koin.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@drawable/tkllogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/tkllogo"
        android:supportsRtl="true"
        android:preserveLegacyExternalStorage="true"
        android:theme="@style/SplashScreen"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ApplyFilter"
            android:exported="false" />
        <activity
            android:name=".ui.JobProviderRegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".ui.ActivityJobDetails" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/SplashScreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true" /> <!-- <meta-data -->
        <!-- android:name="com.razorpay.ApiKey" -->
        <!-- android:value="rzp_live_jrlagEEFLnY5PU" /> -->
        <activity
            android:name=".ui.PaymentDetailsActivity"
            android:exported="true" />

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="true" />

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:exported="true" />
        <activity
            android:name=".ui.CareerAtTklRegisterActivity"
            android:exported="true" />
    </application>

</manifest>